.movies-list {
  width: calc(100% - 140px);
  min-height: 174px;
  height: 100%;
  margin: 70px auto 0;
  display: grid;
  row-gap: 40px;
}

@media screen and (max-width: 768px) {
  .movies-list {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 400px) {
  .movies-list {
    width: calc(100% - 20px);
    /* min-height: 544px; */
    overflow: hidden;
    margin-top: 45px;
    row-gap: 20px;
  }
}
