.portfolio {
    width: calc(100% - 140px);
    margin: 100px auto 125px;
}

.portfolio__title {
    color: #A0A0A0;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.1;
    font-feature-settings: 'clig' off, 'liga' off;
}

.portfolio__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    min-height: 230px;
}

.portfolio__cover {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 30px;
    line-height: 1.6;
    color: #000;
    letter-spacing: -1.2px;
    border-bottom: 1px solid #E8E8E8;
}

.portfolio__cover:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
}

.portfolio__link {
    padding: 0;
    margin: 0;
    font-size: 30px;
    line-height: 1.6;
}

.portfolio__icon {
    width: 29px;
    height: 50px;
    background-position: center;

}

@media screen and (max-width: 804px) {
    .portfolio {
        width: calc(100% - 100px);
        margin: 90px auto;
    }

    .portfolio__link {
        font-size: 28px;
        line-height: 1.8;
    }

    .portfolio__icon {
        width: 25px;
    }
}