.promo {
  background-color: #465dff;
  width: 100%;
  min-height: 524px;
  display: grid;
  grid-template-columns: 1fr 320px 1 fr;
  grid-template-rows: 150px 1fr;
}

.promo__image {
  margin: 82px auto 122px;
  color: white;
  grid-area: 1 / 1 / 2 / 2;
}

.promo__title {
  color: white;
  font-size: 50px;
  font-weight: normal;
  line-height: 1.16;
  letter-spacing: -2px;
  width: 730px;
  text-align: center;
  padding: 0;
  margin: 184px auto 224px;
  grid-area: 1 / 1 / 2 / 2;
}

@media screen and (max-width: 804px) {
  .promo__title {
    margin: 326px auto 342px;
  }

  .promo__image {
    margin: 224px auto 240px;
  }
  .promo {
    min-height: 784px;
  }
}

@media screen and (max-width: 729px) {
  .promo__title {
    width: 300px;
    font-size: 29px;
    line-height: 1.35;
    letter-spacing: -1.24px;
    font-style: normal;
  }
}

@media screen and (max-width: 525px) {
  .promo {
    min-height: 570px;
    grid-template-columns: 1fr 248px 1 fr;
    grid-template-rows: 150px 1fr;
  }

  .promo__image {
    width: 248px;
    height: 248px;
    margin: 142px auto 180px;
  }

  .promo__title {
    margin: 207px auto 246px;
    font-weight: 400px;
  }
}
