.about {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 110px;
  min-height: 608px;
  background-color: white;
  box-sizing: border-box;

}

.about__title {
  margin: 0 auto;
  width: calc(100% - 140px);
  padding: 0;
  height: 50px;
  border-bottom: 1px solid black;
  font-size: 22px;
  color: #000;
  line-height: normal;
}

.about__description {
  width: calc(100% - 140px);
  margin: 70px auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 26px;
}

.about__description-subtitle {
  margin: 0;
  padding: 0;
  font-size: 20px;
  letter-spacing: -0.8px;
}

.about__description-text {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

.about__duration {
  width: calc(100% - 140px);
  margin: 110px auto 0 auto;
  display: grid;
  grid-template-columns: 228px 1fr;
  grid-template-rows: repeat(2, 36px);
  row-gap: 14px;
}

.about__duration-subtitle {
  margin: 0;
  padding: 0;
  padding-top: 9px;
  text-align: center;
  font-size: 14px;
  background-color: #f2f2f2;
}

.about__duration-subtitle:first-of-type {
  background-color: #2be080;
}

.about__duration-text {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 14px;
  color: #a0a0a0;
}
