.techs {
  width: 100%;
  min-height: 625px;
  background-color: #f5f5f5;
  padding-top: 100px;
  box-sizing: border-box;
}

.techs__title {
  width: calc(100% - 140px);
  margin: auto;
  padding: 0;
  height: 50px;
  border-bottom: 1px solid black;
  font-size: 22px;
  font-weight: normal;
  color: #000;
  line-height: normal;
}

.techs__subtitle {
  padding: 0;
  margin: 90px auto 0;
  text-align: center;
  font-size: 50px;
  font-weight: normal;
  line-height: 1.16;
  letter-spacing: -2px;
}

.techs__text {
  width: 460px;
  text-align: center;
  padding: 0;
  margin: 26px auto 0;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.56px;
}

.techs__list {
  padding: 0;
  margin: 100px auto 100px auto;
  width: 690px;
  display: grid;
  grid-template-columns: repeat(7, minmax(60px, 90px));
  column-gap: 10px;
}

.techs__item {
  padding: 0;
  padding-top: 20px;
  margin: 0;
  font-size: 14px;
  list-style: none;
  height: 60px;
  text-align: center;
  background-color: #e8e8e8;
  border-radius: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 804px) {
  .techs {
    padding-top: 90px;
    min-height: 568px;
  }
  .techs__title {
    width: calc(100% - 100px);
  }

  .techs__subtitle {
    margin-top: 80px;
  }

  .techs__text {
    font-size: 12px;
    line-height: 1.5;
    margin-top: 22px;
  }

  .techs__list {
    margin-top: 83px;
    grid-template-columns: repeat(7, minmax(60px, 84px));
    width: 648px;
  }

  .techs__item {
    font-size: 12px;
    text-align: center;
    padding-top: 21px;
  }
}

@media screen and (max-width: 729px) {
  .techs__list {
    grid-template-columns: repeat(2, minmax(60px, 90px));
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 525px) {
  .techs {
    padding-top: 70px;
    background-color: white;
    min-height: 650px;
  }
  .techs__title {
    width: calc(100% - 36px);
    font-size: 18px;
    letter-spacing: -0.72px;
    font-weight: normal;
  }
  .techs__subtitle {
    margin-top: 60px;
    font-size: 30px;
  }

  .techs__text {
    margin-top: 24px;
    font-size: 11px;
    line-height: 1.45;
    width: 292px;
  }

  .techs__list {
    gap: 10px;
    width: calc(100% - 142px);
    margin-top: 50px;
  }
}
