.navtab {
  width: 100%;
  margin: auto;
  height: 66px;
  display: flex;
  background-color: #f5f5f5;
}

.navtab__menu {
  padding: 0;
  margin: auto;
  width: 276px;
  display: flex;
  justify-content: space-between;
}

.navtab__item {
  color: black;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.23;
  list-style-type: none;
}

.navtab__link {
  color: #000;
}

.navtab__link:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.4s ease-in;
}

@media screen and (max-width: 525px) {
  .navtab__menu {
    width: 214px;
  }
  .navtab__item {
    font-size: 11px;
    line-height: 1.45;
  }
}
